<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/dashboard']">GVeic</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active" routerLinkActive="nav-active">
          <a class="nav-link" [routerLink]="['/dashboard']">DashBoard<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown" dropdown>
          <a class="nav-link dropdown-toggle" dropdownToggle id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Veiculo
          </a>
          <div *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/veiculo']">Veiculo</a>
            <a class="dropdown-item" [routerLink]="['/veiculo/novo']">Cadastrar Veiculo</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
<!-- start: page -->
<router-outlet></router-outlet>
<!-- end: page -->